<!-- Debug-only URDF for standalone visualizers. Do not use for simulation. -->
<robot name="wing_asy_right_visualizer">
    <link name="part_1">
        <inertial>
            <mass value="8.16534e-11" />
            <origin xyz="0.677543 -0.179668 7.5e-05" rpy="0 -0 0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="1.01421e-15" />
        </inertial>
        <visual>
            <origin xyz="0.679779 -0.217114 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/Part_1.stl" scale="100 100 100" />
            </geometry>
            <material name="0.768627_0.886275_0.952941_0.000000_0.901961">
                <color rgba="0.768627 0.886275 0.952941 1" />
            </material>
        </visual>
    </link>
    <link name="part_1_1">
        <inertial>
            <mass value="3.83835e-10" />
            <origin xyz="-0.151305 0.117934 0.004" rpy="0 -0 0" />
            <inertia ixx="0" ixy="0" ixz="0" iyy="5.9244e-15" iyz="0" izz="6.59347e-15" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="../meshes/Part_1_1.stl" scale="100 100 100" />
            </geometry>
            <material name="0.301961_0.301961_0.301961_0.000000_0.000000">
                <color rgba="0.301961 0.301961 0.301961 1" />
            </material>
        </visual>
    </link>
    <link name="root" />
    <joint name="fastened_1" type="fixed">
        <origin xyz="-0.661946 0.191632 0.008" rpy="1.6673e-92 1.75162e-46 1.90372e-46" />
        <axis xyz="0 0 -1" />
        <parent link="part_1_1" />
        <child link="part_1" />
    </joint>
    <joint name="hanging_node_to_root_joint" type="fixed">
        <origin xyz="0.186505 0.121117 0.0640399" rpy="-3.14159 1.99562e-30 -3.14159" />
        <axis xyz="0 0 1" />
        <parent link="root" />
        <child link="part_1_1" />
    </joint>
</robot>
