common --enable_bzlmod
build --cxxopt=-std=c++23
build --host_cxxopt=-std=c++23
build --@drake//tools/flags:with_clp=False
build --jobs=16


# Suppress warnings from module externals.
build --per_file_copt=external/.*@-w
build --host_per_file_copt=external/.*@-w
